<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /digital-team-utility-hub
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /digital-team-utility-hub/index.html [L]
</IfModule>